@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Baloo+2:wght@400..800&family=Bubblegum+Sans&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Gravitas+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Poppins","Bubblegum Sans", "Gravitas One", "Alfa Slab One", "Baloo 2",serif; */
    /* overflow:hidden; */
}

a {
    color: black;
    text-decoration: none;
}

header {
    height: 80px;
    /* width: 98vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 17px;
    padding: 0px 40px;
    font-family: "Poppins", "Bubblegum Sans", "Gravitas One", "Alfa Slab One", serif;
    position: sticky;
    top: 0;
    background-color: white;
}

ul {
    display: flex;
    gap: 25px;
    list-style: none;
    cursor: pointer;
}

ul a {
    color: black;
    text-decoration: none;
}


.login {
    font-size: 13px;
    font-weight: 300;
    padding-top: 6px;
}

.hero-img {
    height: 700px;
}

.hero-section {
    height: 95vh;
    /* width: 98vw; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/bg/bg1.jpeg');
    background-position: top;
    background-size: cover;
    color: white;
    font-size: 18px;
    font-family: "poppins", "Google Sans";
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
    align-items: flex-start;
    gap: 10px;
}

button {
    border: none;
    padding: 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    background-color: brown;
}

button:hover {
    transform: scale(1.1);
}

.hero-section h1 {
    color: coral;
}

.hero-section h4 {
    color: darkkhaki;
}




.products {
    height: 680px;
    display: flex;
    justify-content: center;
    gap: 10px;
    color: white;
    font-family: "Gravitas One", "Alfa Slab One", "Baloo 2", serif;
    text-align: center;
    gap: 5px;
}

.men-sec {
    height: 580px;
    width: 620px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/men/men\ \(2\).jpg");
    background-position: bottom;
    background-size: cover;
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}

.women-sec {
    height: 580px;
    width: 620px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/women/women\ \(5\).jpg");
    background-position: center;
    background-size: cover;
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}





.featured-pro {
    height: 1300px;
    text-align: center;
    font-family: "Poppins", serif;
}

.featured-pro h1 {
    font-size: 50px;
    padding-bottom: 20px;
}

.products-card {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 12px;
}

.img-container {
    height: 550px;
    width: 280px;
    border: 1px solid rgb(230, 230, 230);
    box-shadow: 10px 10px 20px rgba(155, 154, 154, 0.25);
}

.img-container p {

    font-weight: 600;
}




.service {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";

}

.service h1 {
    font-size: 40px;
    padding-bottom: 30px;
}

.features {
    height: 250px;
    width: 98vw;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.service-box {
    height: 75%;
    width: 15%;
    font-family: "poppins";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    color: rgb(2, 75, 80);
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 251, 239);
    box-shadow: 10px 10px 20px rgba(49, 49, 49, 0.25);
    border: 1px solid rgb(243, 236, 161);
}




.categories {
    height: 1120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 100px;
}

.denim-card {
    height: 600px;
    width: 82%;
    background-image: url("img/men/men\ \(7\).jpg");
    background-position: top;
    background-size: cover;
    font-family: "Poppins";
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.text {
    width: 50%;
}

.text h2 {
    font-weight: 300;
    color: rgb(145, 145, 146);
    font-size: 18px;
    padding-bottom: 25px;
}

.text h1 {
    font-size: 75px;
    line-height: 5rem;
    padding-bottom: 15px;
}

.text h3 {
    font-weight: 500;
}



.fashion-image {
    height: 400px;
    width: 98vw;
    display: flex;
    gap: 8px;
    justify-content: center;
}


.category-box {
    width: 27.2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-position: center;
    background-size: cover;
    color: white;
}

.fashion-image h1 {
    font-family: "Gravitas One", "Alfa Slab One", "Baloo 2", serif;
    padding-top: 20rem;
    color: white;

}

.category-box a {
    text-decoration: none;
}


#box1 {
    background-image: url("img/cap/cap\ \(4\).jpg");
}

#box2 {
    background-image: url("img/hoodie/hoodie\ \(5\).jpg");
    background-position: center;
}

#box3 {
    background-image: url("img/tshirt/tshirt.jpg");
}




.sustainable-msg {
    height: 500px;
    width: 98vw;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/bg/bg6.jpeg");
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    margin-bottom: 100px;
}

.msg-container {
    height: 200px;
    width: 40vw;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(253, 239, 221);
    box-shadow: 10px 10px 20px rgba(37, 37, 37, 0.25);
    border-radius: 10px;
    gap: 15px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.newsletter {
    height: 450px;
    display: flex;
    justify-content: center;
    border-top: dotted rgb(233, 233, 233);
    font-family: "Poppins";
    gap: 3rem;
    padding-top: 5rem;
}

.newsletter p {
    color: rgb(141, 141, 141);
    font-size: 14px;
    padding-bottom: 18px;
    padding-right: 15px;
}

.newsletter-container {
    width: 700px;
    font-size: 20px;
}


.newsletter-container form {
    display: flex;
    gap: 15px;
}

.newsletter-container form input {
    width: 20vw;
    padding: 12px 15px 12px 15px;
}

.newsletter-container button {
    padding: 0 15px 0 15px;
    border: none;
    border: 1px solid black;
    border-radius: 0;
    background-color: black;
    color: white;
    transition: all 1s;
}

/* button {
    border: none;
    padding: 10px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    background-color: brown;
} */

.newsletter-container button:hover {
    background-color: white;
    color: black;
    transform: none;
}

.details {
    width: 200px;
}

.details h3 {
    font-size: 16px;
}


footer {
    height: 550px;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(104, 102, 102);
    gap: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 14px;
}

.address {
    width: 350px;
    font-size: 14px;
    padding-right: 13px;
}

.address p {
    transition: color .5s;
    padding: 0 0 12px 0;
}

.address p:hover {
    color: rgb(170, 168, 168);
}


.links {
    width: 140px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 10px;
    transition: color 5s;
}

.links a {
    color: rgb(107, 172, 172);
}

.links a:hover {
    color: rgb(170, 168, 168);
}


.bottom-line {
    text-align: center;
    padding-top: 40px;
}

.bottom-line p {
    padding-bottom: 30px;
}

.bottom-line i {
    margin: 10px;
}

.bottom-line i:hover {
    color: rgb(110, 3, 48);
}